---
import ContactForm from "../../components/ContactForm.astro";
---

<section
  id="Contact"
  class="flex flex-col gap-8 items-center justify-center my-28"
>
  <div>
    <h2 class="text-4xl text-center font-bold mb-3">¿Quieres contactarme?</h2>
    <p class="text-center text-lg">
      Llena el formulario y te respondere en breve.
    </p>
  </div>
  <ContactForm />
</section>
