---
import Github from "../icons/Github.astro";
import Instagram from "../icons/Instagram.astro";
import Linkedin from "../icons/Linkedin.astro";
import Youtube from "../icons/Youtube.astro";
---

<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a href="/#Home" class="link link-hover">Inicio</a>
    <a href="/#About" class="link link-hover">Conoceme</a>
    <a href="/#Stack" class="link link-hover">Mi Stack</a>
    <a href="/#Contact" class="link link-hover">Contactame</a>
    <a href="/lumber-jack" class="link link-hover">Lumber Jack</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col items-center justify-center gap-4">
      <a
        href="https://youtube.com/@DotDager/"
        class="hover:text-yellow-400 transition-colors duration-150 ease-in-out"
      >
        <Youtube class="size-8" />
      </a>
      <a
        href="https://github.com/MarianoVilla/"
        class="hover:text-yellow-400 transition-colors duration-150 ease-in-out"
      >
        <Github class="size-7" />
      </a>
      <a
        href="https://instagram.com/dager.32/"
        class="hover:text-yellow-400 transition-colors duration-150 ease-in-out"
      >
        <Instagram class="size-7" />
      </a>
      <a
        href="https://linkedin.com/in/mariano-luis-villa/"
        class="hover:text-yellow-400 transition-colors duration-150 ease-in-out"
      >
        <Linkedin class="size-7" />
      </a>
    </div>
  </nav>
  <aside>
    <p>
      Developmet by
      <a
        href="https://github.com/DreezDev/"
        target="_blank"
        class="link link-hover"
      >
        DreezDev
      </a>
      - 2024
    </p>
  </aside>
</footer>
