---
import Axe from "../icons/Axe.astro";
---

<div class="fixed flex items-center bottom-6 left-6 z-50 group">
  <a
    href="/lumber-jack"
    class="z-20 p-3 rounded-full bg-dot-primary-600 hover:bg-dot-primary-900 transition-colors duration-200 ease-in-out"
  >
    <Axe class="size-8" />
  </a>
  <div
    class="bg-yellow-400 text-black font-bold -ms-5 ps-10 pe-8 py-2 rounded-e-lg opacity-0 -translate-x-10 group-hover:translate-x-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"
  >
    Jugar
  </div>
</div>
