---
import Blazor from "../icons/Blazor.astro";
import CSharp from "../icons/CSharp.astro";
import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import Mongo from "../icons/Mongo.astro";
import Mysql from "../icons/Mysql.astro";
import Net from "../icons/Net.astro";
import Postgre from "../icons/Postgre.astro";
import Python from "../icons/Python.astro";
import Typescript from "../icons/Typescript.astro";
import Donet from "../icons/Donet.astro";
import Javascript from "../icons/Javascript.astro";
---

<div class="grid grid-cols-6 gap-4 items-center justify-center">
  <CSharp
    class="size-8 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Net
    class="size-10 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Donet
    class="size-10 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Blazor
    class="size-10 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Python
    class="size-8 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Typescript
    class="size-8 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Mysql
    class="size-9 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Postgre
    class="size-9 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Mongo
    class="size-9 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Html
    class="size-9 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Css
    class="size-9 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
  <Javascript
    class="size-9 text-base-200 hover:text-dot-primary-700 transition-colors duration-150 ease-in-out"
  />
</div>
