---
import Github from "../icons/Github.astro";
import Instagram from "../icons/Instagram.astro";
import Youtube from "../icons/Youtube.astro";
---

<div class="grid grid-cols-2 sm:grid-cols-3 gap-3">
  <a
    href="https://www.youtube.com/@DotDager/"
    class="flex items-center p-3 gap-3 border-2 border-red-500 text-red-500 rounded-lg hover:bg-red-500 hover:text-white transition-colors duration-200 ease-in-out"
  >
    <Youtube class="size-6" />
    Youtube
  </a>
  <a
    href="https://github.com/MarianoVilla/"
    class="flex items-center p-3 gap-3 border-2 border-gray-300 text-gray-300 rounded-lg hover:bg-gray-100 hover:border-gray-100 hover:text-black transition-colors duration-200 ease-in-out"
  >
    <Github class="size-6" />
    GitHub
  </a>
  <a
    href="https://www.instagram.com/dager.32/"
    class="col-span-2 sm:col-span-1 w-fit mx-auto flex items-center p-3 gap-3 border-2 border-purple-400 text-purple-400 rounded-lg hover:bg-purple-600 hover:border-purple-600 hover:text-white transition-colors duration-200 ease-in-out"
  >
    <Instagram class="size-6" />
    Instagram
  </a>
</div>
