---
import Github from "../icons/Github.astro";
import Youtube from "../icons/Youtube.astro";
---

<div class="stats">
  <div class="stat">
    <div class="stat-title">Contribuciones</div>
    <div class="stat-value text-yellow-500">
      <p class="flex items-center gap-3 font-sans">
        +865 <Github class="size-7" />
      </p>
    </div>
    <div class="stat-desc">GitHub</div>
  </div>

  <div class="stat">
    <div class="stat-title">Subscriptores</div>
    <div class="stat-value text-red-500">
      <p class="flex items-center gap-3 font-sans">
        +87,5k <Youtube class="mt-1" />
      </p>
    </div>
    <div class="stat-desc">Youtube</div>
  </div>
</div>

<style></style>
