---
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource-variable/raleway";
---

<!doctype html>
<html class="scroll-smooth" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Dot Dager portfolio - Full-stack/lead dev with a passion for SOLID"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <header class="flex fixed z-50 w-full mx-auto">
      <Navbar />
    </header>
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: "Raleway Variable", sans-serif;
  }
</style>
